.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

ul {
    background-color: dodgerblue;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    float: left;
}

ul li.fritz {
    padding: 12px 10px;
}

ul li a {
    color: white;
    display: block;
    text-align: center;
    font-size: 20px;
    padding: 31px 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

ul li a:hover {
    color: dodgerblue;
    background-color: white;
}

ul li img {
    display: block;
    height: 60px;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding-left: 20px;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    padding-left: 20px;
    line-height: 0px;
}

.mainbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 1000px;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 60px;
}

.main-div {
    max-width: 700px;
    padding-left: 10px;
    padding-right: 10px;
}

.mainbody img {
    max-width: 100%;
    height: 100%;
    display:block;
}

.abouttext {
    display: inline-block;
}

.mainbody h3 {
    font-size: 40px;
}

.mainbody p {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    max-width: 700px;
}




div.projbody {
    display:flex;
    width:100%;
    justify-content: center;
}

div.projbody p {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div.projentry {
    max-width: 985px;
    background-color: dodgerblue;
    float: left;
    margin-bottom:20px;
    border-radius: 5px;
}

div.projentry img {
    width: 200px;
    padding: 10px;
    padding-right: 20px;
    float: left;
}

div.projtext {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    float: none;
}

div.projtext h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
    line-height: 10px;
}

div.projtext a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: black;
    background-color: white;
    margin-right: 10px;
    padding: 5px;
    border-radius: 2px;
}

div.projtext p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    overflow: hidden;
}

@media (max-width: 990px) {
    div.projtext {
        float:left;
        padding-left: 20px;
        padding-right:20px;
    }
    div.projentry img {
        width: 95%;
        padding-top: 2%;
        float: none;
        display: block;
        margin-left:auto;
        margin-right:auto;
    }
}







div.contactbody {
    padding-left: 20px;
}

div.contactbody img {
    width: 200px;
}

div.contactbody div {
    float: left;
    width: 200px;
    padding-right: 50px;
    
}

div.contactbody div p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

p.heading{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

span.username {
    font-style: italic;
}

#discid {
    color: rgb(99, 90, 90);
}




.diss-div {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 20px;
}

.diss-div embed {
    width: 1000px;
    height: 1000px;
}